.newcollections h1{
    font-size: 50px;
    color: #171717;
    font-weight: 600;

}
.newcollections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    display:inline-block
}



@media (max-width:1280px) { 
    .newcollections h1{font-size: 40px;}
    .newcollections hr{width: 160px;height: 4px;}
}
@media (max-width:1024px) { 
    .newcollections h1{font-size: 30px;}
    .newcollections hr{width: 120px;height: 3px;}
}
@media (max-width:800px) { 
    .newcollections h1{font-size: 20px;}
    .newcollections hr{width: 100px}
}