.offers{
    background-image: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    min-height: 60vh;
    padding: 100px 160px;
    margin-top:50px;


}
.offer-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
    text-transform: capitalize;
}
.offer-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.offer-left button{
    width: 282px;
    height: 70px;
    background-color: #ff4141;
    color: #fff;
    border: none;
    border-radius: 35px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offer-right {margin-top: -15px;} 

@media (max-width:1280px) { 
    .offers{
        min-height: 60vh;
        padding:50px 80px;
        margin:120px auto;
    }
    .offer-left h1{font-size: 40px;}
    .offer-left p{font-size: 18px;}
    .offer-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offer-right img{width: 300px;height: auto;} 
}
@media (max-width:1024px) { 
    .offers{
        min-height: 40vh;
        padding:50px 60px;
        margin:80px auto;
    }
    .offer-left h1{font-size: 30px;}
    .offer-left p{font-size: 16px;}
    .offer-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offer-right img{width: 200px;height: auto;}
}
@media (max-width:800px) { 
    .offers{
        margin:60px auto;
    }
    .offer-left h1{font-size: 22px;}
    .offer-left p{font-size: 13px;}
    .offer-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
    .offer-right img{width: 180px;height: auto;}
    
}
@media (max-width:500px) { 
    .offers{
        height: 25vh;
        margin:50px auto;
    }
    .offer-left h1{font-size: 16px;}
    .offer-left p{font-size: 10px;}
    .offer-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
    .offer-right img{width: 120px;height: auto;}
}