.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    font-size: 46px;
    font-weight:700;
    color: #383838;
    margin: 0;

}
.footer_links{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size:20px ;

}
.footer_links li{cursor: pointer;}
.footer-social-icons{
    display: flex;
    gap: 20px;
}
.footer-social-container{
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copy-rights{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copy-rights hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media (max-width:800px) { 
    .footer{gap: 20px;}
    .footer-logo{
        align-items: end;
        gap: 10px;
    }
    .footer-logo img{
       width: 40px;
  
    }
    .footer-logo p{
        font-size: 25px;
   
     }
     .footer_links{
        font-size: 14px;
        gap: 10px;
     }
     .footer-social-icons img{
        width: 22px;
     }
     .footer-copy-rights{font-size: 13px;}
}